.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    height: 100%;
}

.Input-Label{
    display: flex;
    flex-direction: column;

    text-align: left;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: .5rem;
}

.Input-Label input{
    width: 50%;

    border: none;
    border-bottom: 1px solid black;

    outline: none;
}

.Input-Label label{
    width: 50%;
}